@tailwind base;
@tailwind components;
@tailwind utilities;

.override .ant-btn-primary {
  background-color: #1890ff;
}

.overlap .fc-timegrid-slots {
  z-index: 3;
}

.override .fc-timegrid-slots tr:nth-of-type(odd) > td {
  /* Background gray with 10% opacity */
  background-color: rgba(0, 0, 0, 0.03);
}

.override .fc-timegrid-slots tr:hover > td {
  border: 1px solid rgba(0, 0, 0);
}

@layer base {
  :root {
    --text: 10 14 16;
    --background: 243 246 247;
    --primary: 40 57 62;
    --secondary: 202 217 221;
    --accent: 86 123 134;

    --text-50: 239 243 245;
    --text-100: 224 231 235;
    --text-200: 192 208 216;
    --text-300: 161 184 196;
    --text-400: 130 161 176;
    --text-500: 98 137 157;
    --text-600: 79 110 125;
    --text-700: 59 82 94;
    --text-800: 39 55 63;
    --text-900: 20 27 31;
    --text-950: 10 14 16;

    --background-50: 240 244 245;
    --background-100: 224 232 235;
    --background-200: 194 209 214;
    --background-300: 163 186 194;
    --background-400: 133 163 173;
    --background-500: 102 140 153;
    --background-600: 82 112 122;
    --background-700: 61 84 92;
    --background-800: 41 56 61;
    --background-900: 20 28 31;
    --background-950: 10 14 15;

    --primary-50: 239 244 245;
    --primary-100: 224 232 235;
    --primary-200: 193 210 215;
    --primary-300: 162 187 195;
    --primary-400: 131 165 175;
    --primary-500: 99 142 156;
    --primary-600: 80 114 124;
    --primary-700: 60 85 93;
    --primary-800: 40 57 62;
    --primary-900: 20 28 31;
    --primary-950: 10 14 16;

    --secondary-50: 239 244 245;
    --secondary-100: 224 233 235;
    --secondary-200: 193 210 215;
    --secondary-300: 162 188 195;
    --secondary-400: 131 166 175;
    --secondary-500: 99 143 156;
    --secondary-600: 80 115 124;
    --secondary-700: 60 86 93;
    --secondary-800: 40 57 62;
    --secondary-900: 20 29 31;
    --secondary-950: 10 14 16;

    --accent-50: 239 244 245;
    --accent-100: 224 232 235;
    --accent-200: 193 210 215;
    --accent-300: 162 187 195;
    --accent-400: 131 165 175;
    --accent-500: 99 142 156;
    --accent-600: 80 114 124;
    --accent-700: 60 85 93;
    --accent-800: 40 57 62;
    --accent-900: 20 28 31;
    --accent-950: 10 14 16;
  }
  .dark {
    --text: 239 243 245;
    --background: 8 11 12;
    --primary: 193 210 215;
    --secondary: 34 49 53;
    --accent: 121 158 169;

    --text-50: 10 14 16;
    --text-100: 20 27 31;
    --text-200: 39 55 63;
    --text-300: 59 82 94;
    --text-400: 79 110 125;
    --text-500: 98 137 157;
    --text-600: 130 161 176;
    --text-700: 161 184 196;
    --text-800: 192 208 216;
    --text-900: 224 231 235;
    --text-950: 239 243 245;

    --background-50: 10 14 15;
    --background-100: 20 28 31;
    --background-200: 41 56 61;
    --background-300: 61 84 92;
    --background-400: 82 112 122;
    --background-500: 102 140 153;
    --background-600: 133 163 173;
    --background-700: 163 186 194;
    --background-800: 194 209 214;
    --background-900: 224 232 235;
    --background-950: 240 244 245;

    --primary-50: 10 14 16;
    --primary-100: 20 28 31;
    --primary-200: 40 57 62;
    --primary-300: 60 85 93;
    --primary-400: 80 114 124;
    --primary-500: 99 142 156;
    --primary-600: 131 165 175;
    --primary-700: 162 187 195;
    --primary-800: 193 210 215;
    --primary-900: 224 232 235;
    --primary-950: 239 244 245;

    --secondary-50: 10 14 16;
    --secondary-100: 20 29 31;
    --secondary-200: 40 57 62;
    --secondary-300: 60 86 93;
    --secondary-400: 80 115 124;
    --secondary-500: 99 143 156;
    --secondary-600: 131 166 175;
    --secondary-700: 162 188 195;
    --secondary-800: 193 210 215;
    --secondary-900: 224 233 235;
    --secondary-950: 239 244 245;

    --accent-50: 10 14 16;
    --accent-100: 20 28 31;
    --accent-200: 40 57 62;
    --accent-300: 60 85 93;
    --accent-400: 80 114 124;
    --accent-500: 99 142 156;
    --accent-600: 131 165 175;
    --accent-700: 162 187 195;
    --accent-800: 193 210 215;
    --accent-900: 224 232 235;
    --accent-950: 239 244 245;
  }
}
