@tailwind base;
@tailwind components;
@tailwind utilities;

.override .ant-btn-primary {
  background-color: #1890ff;
}

.overlap .fc-timegrid-slots {
  z-index: 3;
}

.override .fc-timegrid-slots tr:nth-of-type(odd) > td {
  /* Background gray with 10% opacity */
  background-color: rgba(0, 0, 0, 0.03);
}

.override .fc-timegrid-slots tr:hover > td {
  border: 1px solid rgba(0, 0, 0);
}

@layer base {
  :root {
    --text: #0a0e10;
    --background: #f3f6f7;
    --primary: #28393e;
    --secondary: #cad9dd;
    --accent: #567b86;

    --text-50: #eff3f5;
    --text-100: #e0e7eb;
    --text-200: #c0d0d8;
    --text-300: #a1b8c4;
    --text-400: #82a1b0;
    --text-500: #62899d;
    --text-600: #4f6e7d;
    --text-700: #3b525e;
    --text-800: #27373f;
    --text-900: #141b1f;
    --text-950: #0a0e10;

    --background-50: #f0f4f5;
    --background-100: #e0e8eb;
    --background-200: #c2d1d6;
    --background-300: #a3bac2;
    --background-400: #85a3ad;
    --background-500: #668c99;
    --background-600: #52707a;
    --background-700: #3d545c;
    --background-800: #29383d;
    --background-900: #141c1f;
    --background-950: #0a0e0f;

    --primary-50: #eff4f5;
    --primary-100: #e0e8eb;
    --primary-200: #c1d2d7;
    --primary-300: #a2bbc3;
    --primary-400: #83a5af;
    --primary-500: #638e9c;
    --primary-600: #50727c;
    --primary-700: #3c555d;
    --primary-800: #28393e;
    --primary-900: #141c1f;
    --primary-950: #0a0e10;

    --secondary-50: #eff4f5;
    --secondary-100: #e0e9eb;
    --secondary-200: #c1d2d7;
    --secondary-300: #a2bcc3;
    --secondary-400: #83a6af;
    --secondary-500: #638f9c;
    --secondary-600: #50737c;
    --secondary-700: #3c565d;
    --secondary-800: #28393e;
    --secondary-900: #141d1f;
    --secondary-950: #0a0e10;

    --accent-50: #eff4f5;
    --accent-100: #e0e8eb;
    --accent-200: #c1d2d7;
    --accent-300: #a2bbc3;
    --accent-400: #83a5af;
    --accent-500: #638e9c;
    --accent-600: #50727c;
    --accent-700: #3c555d;
    --accent-800: #28393e;
    --accent-900: #141c1f;
    --accent-950: #0a0e10;
  }
  .dark {
    --text: #eff3f5;
    --background: #080b0c;
    --primary: #c1d2d7;
    --secondary: #223135;
    --accent: #799ea9;

    --text-50: #0a0e10;
    --text-100: #141b1f;
    --text-200: #27373f;
    --text-300: #3b525e;
    --text-400: #4f6e7d;
    --text-500: #62899d;
    --text-600: #82a1b0;
    --text-700: #a1b8c4;
    --text-800: #c0d0d8;
    --text-900: #e0e7eb;
    --text-950: #eff3f5;

    --background-50: #0a0e0f;
    --background-100: #141c1f;
    --background-200: #29383d;
    --background-300: #3d545c;
    --background-400: #52707a;
    --background-500: #668c99;
    --background-600: #85a3ad;
    --background-700: #a3bac2;
    --background-800: #c2d1d6;
    --background-900: #e0e8eb;
    --background-950: #f0f4f5;

    --primary-50: #0a0e10;
    --primary-100: #141c1f;
    --primary-200: #28393e;
    --primary-300: #3c555d;
    --primary-400: #50727c;
    --primary-500: #638e9c;
    --primary-600: #83a5af;
    --primary-700: #a2bbc3;
    --primary-800: #c1d2d7;
    --primary-900: #e0e8eb;
    --primary-950: #eff4f5;

    --secondary-50: #0a0e10;
    --secondary-100: #141d1f;
    --secondary-200: #28393e;
    --secondary-300: #3c565d;
    --secondary-400: #50737c;
    --secondary-500: #638f9c;
    --secondary-600: #83a6af;
    --secondary-700: #a2bcc3;
    --secondary-800: #c1d2d7;
    --secondary-900: #e0e9eb;
    --secondary-950: #eff4f5;

    --accent-50: #0a0e10;
    --accent-100: #141c1f;
    --accent-200: #28393e;
    --accent-300: #3c555d;
    --accent-400: #50727c;
    --accent-500: #638e9c;
    --accent-600: #83a5af;
    --accent-700: #a2bbc3;
    --accent-800: #c1d2d7;
    --accent-900: #e0e8eb;
    --accent-950: #eff4f5;
  }
}
