@tailwind base;
@tailwind components;
@tailwind utilities;

.override .ant-btn-primary {
  background-color: #1890ff;
}

.overlap .fc-timegrid-slots {
  z-index: 3;
}

.override .fc-timegrid-slots tr:nth-of-type(odd) > td {
  /* Background gray with 10% opacity */
  background-color: rgba(0, 0, 0, 0.03);
}

.override .fc-timegrid-slots tr:hover > td {
  border: 1px solid rgba(0, 0, 0);
}

@layer base {
  :root {
    --text: #0f140b;
    --background: #edf3e8;
    --primary: #0ab7d1;
    --secondary: #d0f9a4;
    --accent: #4d8f6d;

    --text-50: #f2f6ef;
    --text-100: #e5edde;
    --text-200: #cbdbbd;
    --text-300: #b0c99c;
    --text-400: #96b77b;
    --text-500: #7ca45b;
    --text-600: #638448;
    --text-700: #4a6336;
    --text-800: #324224;
    --text-900: #192112;
    --text-950: #0c1009;

    --background-50: #f2f6ee;
    --background-100: #e5edde;
    --background-200: #cadcbc;
    --background-300: #b0ca9b;
    --background-400: #96b979;
    --background-500: #7ca758;
    --background-600: #638646;
    --background-700: #4a6435;
    --background-800: #314323;
    --background-900: #192112;
    --background-950: #0c1109;

    --primary-50: #e7fbfe;
    --primary-100: #cef7fd;
    --primary-200: #9eeefa;
    --primary-300: #6de6f8;
    --primary-400: #3cddf6;
    --primary-500: #0bd5f4;
    --primary-600: #09aac3;
    --primary-700: #078092;
    --primary-800: #055561;
    --primary-900: #022b31;
    --primary-950: #011518;

    --secondary-50: #f3fde7;
    --secondary-100: #e6fccf;
    --secondary-200: #cdf99f;
    --secondary-300: #b5f66f;
    --secondary-400: #9cf33f;
    --secondary-500: #83f00f;
    --secondary-600: #69c00c;
    --secondary-700: #4f9009;
    --secondary-800: #346006;
    --secondary-900: #1a3003;
    --secondary-950: #0d1802;

    --accent-50: #eef6f2;
    --accent-100: #deede5;
    --accent-200: #bddbcb;
    --accent-300: #9cc9b2;
    --accent-400: #7ab898;
    --accent-500: #59a67e;
    --accent-600: #478565;
    --accent-700: #36634c;
    --accent-800: #244232;
    --accent-900: #122119;
    --accent-950: #09110d;
  }
  .dark {
    --text: #eff4eb;
    --background: #11170c;
    --primary: #2edbf5;
    --secondary: #325b06;
    --accent: #70b290;

    --text-50: #0c1009;
    --text-100: #192112;
    --text-200: #324224;
    --text-300: #4a6336;
    --text-400: #638448;
    --text-500: #7ca45b;
    --text-600: #96b77b;
    --text-700: #b0c99c;
    --text-800: #cbdbbd;
    --text-900: #e5edde;
    --text-950: #f2f6ef;

    --background-50: #0c1109;
    --background-100: #192112;
    --background-200: #314323;
    --background-300: #4a6435;
    --background-400: #638646;
    --background-500: #7ca758;
    --background-600: #96b979;
    --background-700: #b0ca9b;
    --background-800: #cadcbc;
    --background-900: #e5edde;
    --background-950: #f2f6ee;

    --primary-50: #011518;
    --primary-100: #022b31;
    --primary-200: #055561;
    --primary-300: #078092;
    --primary-400: #09aac3;
    --primary-500: #0bd5f4;
    --primary-600: #3cddf6;
    --primary-700: #6de6f8;
    --primary-800: #9eeefa;
    --primary-900: #cef7fd;
    --primary-950: #e7fbfe;

    --secondary-50: #0d1802;
    --secondary-100: #1a3003;
    --secondary-200: #346006;
    --secondary-300: #4f9009;
    --secondary-400: #69c00c;
    --secondary-500: #83f00f;
    --secondary-600: #9cf33f;
    --secondary-700: #b5f66f;
    --secondary-800: #cdf99f;
    --secondary-900: #e6fccf;
    --secondary-950: #f3fde7;

    --accent-50: #09110d;
    --accent-100: #122119;
    --accent-200: #244232;
    --accent-300: #36634c;
    --accent-400: #478565;
    --accent-500: #59a67e;
    --accent-600: #7ab898;
    --accent-700: #9cc9b2;
    --accent-800: #bddbcb;
    --accent-900: #deede5;
    --accent-950: #eef6f2;
  }
}
