@tailwind base;
@tailwind components;
@tailwind utilities;

.override .ant-btn-primary {
  background-color: #1890ff;
}

.overlap .fc-timegrid-slots {
  z-index: 3;
}

.override .fc-timegrid-slots tr:nth-of-type(odd) > td {
  /* Background gray with 10% opacity */
  background-color: rgba(0, 0, 0, 0.03);
}

.override .fc-timegrid-slots tr:hover > td {
  border: 1px solid rgba(0, 0, 0);
}

@layer base {
  :root {
    --text: #11150f;
    --background: #f1f4f0;
    --primary: #1464cc;
    --secondary: #cbd6c7;
    --accent: #34b404;

    --text-50: #f2f4f0;
    --text-100: #e4eae1;
    --text-200: #c9d5c3;
    --text-300: #aec0a5;
    --text-400: #93aa88;
    --text-500: #78956a;
    --text-600: #607755;
    --text-700: #485a3f;
    --text-800: #303c2a;
    --text-900: #181e15;
    --text-950: #0c0f0b;

    --background-50: #f1f4f0;
    --background-100: #e4e9e2;
    --background-200: #c8d4c4;
    --background-300: #adbea7;
    --background-400: #91a88a;
    --background-500: #76936c;
    --background-600: #5e7557;
    --background-700: #475841;
    --background-800: #2f3b2b;
    --background-900: #181d16;
    --background-950: #0c0f0b;

    --primary-50: #e8f1fd;
    --primary-100: #d1e3fa;
    --primary-200: #a2c6f6;
    --primary-300: #74aaf1;
    --primary-400: #458eed;
    --primary-500: #1772e8;
    --primary-600: #125bba;
    --primary-700: #0e448b;
    --primary-800: #092d5d;
    --primary-900: #05172e;
    --primary-950: #020b17;

    --secondary-50: #f1f4f0;
    --secondary-100: #e4e9e2;
    --secondary-200: #c8d4c4;
    --secondary-300: #adbea7;
    --secondary-400: #92a88a;
    --secondary-500: #77936c;
    --secondary-600: #5f7557;
    --secondary-700: #475841;
    --secondary-800: #2f3b2b;
    --secondary-900: #181d16;
    --secondary-950: #0c0f0b;

    --accent-50: #edfee6;
    --accent-100: #dafecd;
    --accent-200: #b5fd9b;
    --accent-300: #90fc69;
    --accent-400: #6bfb37;
    --accent-500: #46fa05;
    --accent-600: #38c804;
    --accent-700: #2a9603;
    --accent-800: #1c6402;
    --accent-900: #0e3201;
    --accent-950: #071901;
  }
  .dark {
    --text: #ecf0ea;
    --background: #0c0f0b;
    --primary: #3383eb;
    --secondary: #2d3829;
    --accent: #7afb4b;

    --text-50: #0c0f0b;
    --text-100: #181e15;
    --text-200: #303c2a;
    --text-300: #485a3f;
    --text-400: #607755;
    --text-500: #78956a;
    --text-600: #93aa88;
    --text-700: #aec0a5;
    --text-800: #c9d5c3;
    --text-900: #e4eae1;
    --text-950: #f2f4f0;

    --background-50: #0c0f0b;
    --background-100: #181d16;
    --background-200: #2f3b2b;
    --background-300: #475841;
    --background-400: #5e7557;
    --background-500: #76936c;
    --background-600: #91a88a;
    --background-700: #adbea7;
    --background-800: #c8d4c4;
    --background-900: #e4e9e2;
    --background-950: #f1f4f0;

    --primary-50: #020b17;
    --primary-100: #05172e;
    --primary-200: #092d5d;
    --primary-300: #0e448b;
    --primary-400: #125bba;
    --primary-500: #1772e8;
    --primary-600: #458eed;
    --primary-700: #74aaf1;
    --primary-800: #a2c6f6;
    --primary-900: #d1e3fa;
    --primary-950: #e8f1fd;

    --secondary-50: #0c0f0b;
    --secondary-100: #181d16;
    --secondary-200: #2f3b2b;
    --secondary-300: #475841;
    --secondary-400: #5f7557;
    --secondary-500: #77936c;
    --secondary-600: #92a88a;
    --secondary-700: #adbea7;
    --secondary-800: #c8d4c4;
    --secondary-900: #e4e9e2;
    --secondary-950: #f1f4f0;

    --accent-50: #071901;
    --accent-100: #0e3201;
    --accent-200: #1c6402;
    --accent-300: #2a9603;
    --accent-400: #38c804;
    --accent-500: #46fa05;
    --accent-600: #6bfb37;
    --accent-700: #90fc69;
    --accent-800: #b5fd9b;
    --accent-900: #dafecd;
    --accent-950: #edfee6;
  }
}
